@model TaskNinja.Models.UserModel
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Registration</title>
    </head>
    <body>
        <div>
            <h1>Register Task Ninja Account</h1>
            <form asp-action="ProcessRegistration">
                <div class="mb-3">
                    <label asp-for="firstName" class="form-label">First Name</label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="lastName" class="form-label">Last Name</label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="email" class="form-label">Email</label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="username" class="form-label">Username</label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="password" class="form-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <button type="submit" value="Registration" class="btn btn-primary">Register</button>
            </form>
            <div>
                @{
                    if ( ViewBag.message != null )
                    {
                        <span>@ViewBag.message</span>
                    }
                }
            </div>
        </div>
    </body>
</html>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

